body {
  background: #F5F5F7;
  font-family:
    "iransans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#site-main {
  flex: 1;
  @include media-max(mobile-max) {
    padding-top: 72px;

    &.scrolled {
      padding-top: 72px;
    }
  }
}
.container-fluid {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 80px;
  
}
.row {
  margin: 0 !important;
}
ul,
ol {
  padding: 0;
  margin: 0 !important;
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}

.hew-button {
  color: #fff !important;
  border: 1px solid transparent;
  border-radius: 40px;
  padding: 10px 20px 10px 10px;
  font-size: 14px;
  transition-duration: 0.3s;
  background: $button_bg;

  &:hover {
    background: $default_color;
    border-color: $default_color;
  }

  &.bordered {
    color: #fff;
    border: 1px solid #fff;
    background: none;
    padding: 10px 20px;

    &:hover {
      background: $button_bg;
      border-color: $button_bg;
    }
  }

  &.secondary {
    background: #f5f5f5;
    color: #4b0f52 !important;
    border-radius: 10px;
    border: none;
    transition-duration: 0.3s;
    padding: 10px 20px;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.hew-card {
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  border-radius: 24px;
  padding: 25px 25px;
  align-items: center;
  margin: 0 0 25px;
  text-align: right;
  transition-duration: 0.2s;

  &:hover {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.1);
  }

  form {
    width: 100%;
  }

  &.no-hover {
    &:hover {
      box-shadow: 0 4px 50px rgba(0, 0, 0, 0.05);
    }
  }

  .left-sec {
    margin-right: 30px;
    width: 70%;

    &.no-thumb {
      margin-right: 0 !important;
    }

    a {
      strong {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 15px;
        color: $default_text_color;
        transition-duration: 0.2s;
      }

      &:hover {
        strong {
          color: $default_color;
        }
      }
    }

    p {
      margin: 0 0 15px 0;
      padding: 0;
      font-size: 13px;
      color: #858585;
      line-height: 25px;
    }

    i {
      color: #8b8b8b;
      font-size: 14px;
    }

    span {
      color: #8b8b8b;
      font-size: 14px;
    }

    .more-panel {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        &.hew-button {
          &:hover {
            color: $default_color !important;
          }
        }

        &.see-more {
          color: $default_color;
          transition-duration: 0.3s;

          i {
            color: $default_color;
            transition-duration: 0.3s;
            float: left;
            margin-top: 3px;
          }

          &:hover {
            color: $button_bg;

            i {
              color: $button_bg;
            }
          }
        }
      }
    }
  }
}

.wbs-dropdown {
  ul {
    li {
      background: #fafafa;
      border-radius: 10px;
      margin-bottom: 15px;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 18px;
        cursor: pointer;

        h5 {
          margin-bottom: 0;
          font-size: 17px;
          color: #484848;
        }

        i {
          transition-duration: 0.2s;
          line-height: 0;
          color: #484848;
        }
      }

      footer {
        padding: 5px 15px 20px;
        display: none;
      }

      &.open {
        header {
          i {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.timer-panel {
  display: flex;
  justify-content: center;
  align-items: center;

  .timer-box {
    width: auto !important;
  }
}
