body {
  background: $global_color;
  font-family:
    "iransans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#site-main {
  flex: 1;
  @include media-max(mobile-max) {
    padding-top: 72px;

    &.scrolled {
      padding-top: 72px;
    }
  }
}
.container-fluid {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  gap: 80px;
}
.row {
  margin: 0 !important;
}
ul,
ol {
  padding: 0;
  margin: 0 !important;
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}
