$default_color: #EF7301;
$button_bg: #2A3143;
$button_bg_hover: #017DEF;
$second_color: #7801EF;
$default_text_color: #7A7A7A;
$text_color_hover: #000000;
$panelMarginTop: 150px;
$defaultTitleColor: #444444;
$dashboard_menu_color: #353D51;
$dashboard_btn_color: #D9D9D9;
$dashboard_menu_text_color: #E2E2E2;
$dashboard_subMenu_text_color: #858585;