@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?r9ef3s');
  src:  url('fonts/icons.eot?r9ef3s#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?r9ef3s') format('truetype'),
    url('fonts/icons.woff?r9ef3s') format('woff'),
    url('fonts/icons.svg?r9ef3s#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diagnostics-sbh:before {
  content: "\e93f";
}
.icon-sensitive-info-sbh:before {
  content: "\e940";
}
.icon-usage-data-sbh:before {
  content: "\e941";
}
.icon-identifiers-sbh:before {
  content: "\e942";
}
.icon-user-content-sbh:before {
  content: "\e943";
}
.icon-contacts-sbh:before {
  content: "\e944";
}
.icon-contact-info-sbh:before {
  content: "\e945";
}
.icon-location-sbh:before {
  content: "\e946";
}
.icon-purchases-sbh:before {
  content: "\e947";
}
.icon-checkbox-sbh:before {
  content: "\e948";
  color: #666;
}
.icon-pwa-sbh:before {
  content: "\e949";
  color: #5b5b5b;
}
.icon-info-sbh:before {
  content: "\e94a";
  color: #707070;
}
.icon-up-left-arrow-sbh:before {
  content: "\e93a";
}
.icon-Location-sbh:before {
  content: "\e93b";
}
.icon-program-information-sbh:before {
  content: "\e93c";
  color: #0073e3;
}
.icon-like-sbh:before {
  content: "\e93d";
  color: #bebebe;
}
.icon-dislike-sbh:before {
  content: "\e93e";
  color: #bebebe;
}
.icon-golden-star-sbh:before {
  content: "\e92d";
  color: #e4a302;
}
.icon-silver-star-sbh:before {
  content: "\e92e";
  color: #8f8f8f;
}
.icon-Multiplication-sbh:before {
  content: "\e92f";
  color: #0073e3;
}
.icon-addition-sbh:before {
  content: "\e930";
  color: #0073e3;
}
.icon-play-sbh:before {
  content: "\e931";
}
.icon-circle-sbh:before {
  content: "\e932";
}
.icon-Installation-instructions-sbh:before {
  content: "\e933";
}
.icon-download-sbh:before {
  content: "\e934";
  color: #5b5b5b;
}
.icon-dollar-sbh:before {
  content: "\e935";
  color: #666;
}
.icon-share-sbh:before {
  content: "\e936";
  color: #858585;
}
.icon-sibaneh-logo:before {
  content: "\e937";
}
.icon-wheat-spike-sbh-left:before {
  content: "\e938";
  color: #707070;
}
.icon-wheat-spike-sbh-right:before {
  content: "\e939";
  color: #707070;
}
.icon-shopping-bag-sbh:before {
  content: "\e92b";
}
.icon-search-sbh:before {
  content: "\e92c";
}
.icon-shopping-cart-aka:before {
  content: "\e92a";
}
.icon-sort-aka:before {
  content: "\e928";
}
.icon-filter-aka:before {
  content: "\e929";
}
.icon-star-aka:before {
  content: "\e924";
}
.icon-star-fill-aka:before {
  content: "\e926";
}
.icon-ruler-aka:before {
  content: "\e927";
}
.icon-search-aka:before {
  content: "\e923";
}
.icon-Multiplication:before {
  content: "\e920";
}
.icon-comment:before {
  content: "\e921";
}
.icon-hamburger-menu-aka:before {
  content: "\e922";
}
.icon-instagram-aka:before {
  content: "\e911";
}
.icon-telegram-aka:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e913";
}
.icon-envelope:before {
  content: "\e914";
}
.icon-gps-logo:before {
  content: "\e915";
}
.icon-up-left-arrow:before {
  content: "\e916";
}
.icon-support:before {
  content: "\e917";
}
.icon-quality-assurance:before {
  content: "\e918";
}
.icon-curved-arrow:before {
  content: "\e919";
}
.icon-box:before {
  content: "\e91a";
}
.icon-left-arrow:before {
  content: "\e91b";
}
.icon-right-arrow:before {
  content: "\e91c";
}
.icon-shoping_bag:before {
  content: "\e91d";
}
.icon-account:before {
  content: "\e91e";
}
.icon-support_icon:before {
  content: "\e91f";
}
.icon-star-fill:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e90f";
}
.icon-shopping-bag:before {
  content: "\e90e";
}
.icon-telegram:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e90c";
}
.icon-x:before {
  content: "\e90d";
}
.icon-link:before {
  content: "\e90a";
}
.icon-pause-in-circle:before {
  content: "\e905";
}
.icon-right-arrow-in-circle:before {
  content: "\e908";
}
.icon-left-arrow-in-circle:before {
  content: "\e909";
}
.icon-play-in-circle:before {
  content: "\e906";
}
.icon-Online-Support:before {
  content: "\e907";
}
.icon-iphone-icon:before {
  content: "\e904";
}
.icon-circle-shadow:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e901";
}
.icon-circlewithfillcircle:before {
  content: "\e902";
}
.icon-check-box-fill:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e75d";
}
.icon-search-4:before {
  content: "\e800";
}
.icon-search-3:before {
  content: "\e830";
}
.icon-graduation:before {
  content: "\e801";
}
.icon-online-education:before {
  content: "\e802";
}
.icon-online-translator:before {
  content: "\e803";
}
.icon-popular:before {
  content: "\e804";
}
.icon-reading:before {
  content: "\e805";
}
.icon-reading-1:before {
  content: "\e806";
}
.icon-router:before {
  content: "\e807";
}
.icon-study:before {
  content: "\e808";
}
.icon-study-1:before {
  content: "\e809";
}
.icon-tablet:before {
  content: "\e80a";
}
.icon-video-conference:before {
  content: "\e80b";
}
.icon-video-lecture:before {
  content: "\e80c";
}
.icon-video-lesson:before {
  content: "\e80d";
}
.icon-video-tutorial:before {
  content: "\e80e";
}
.icon-video-tutorial-1:before {
  content: "\e80f";
}
.icon-books:before {
  content: "\e810";
}
.icon-calendar:before {
  content: "\e811";
}
.icon-cloud:before {
  content: "\e812";
}
.icon-computer:before {
  content: "\e813";
}
.icon-ebook:before {
  content: "\e814";
}
.icon-elearning:before {
  content: "\e815";
}
.icon-trash:before {
  content: "\e816";
}
.icon-edit:before {
  content: "\e817";
}
.icon-graduation-2:before {
  content: "\e818";
}
.icon-graduation-3:before {
  content: "\e819";
}
.icon-group:before {
  content: "\e81a";
}
.icon-laptop:before {
  content: "\e81b";
}
.icon-male-teacher:before {
  content: "\e81c";
}
.icon-meeting:before {
  content: "\e81d";
}
.icon-network:before {
  content: "\e81e";
}
.icon-graduation-1:before {
  content: "\e81f";
}
.icon-youtube:before {
  content: "\e820";
}
.icon-facebook:before {
  content: "\e821";
}
.icon-instagram-logo:before {
  content: "\e822";
}
.icon-tg:before {
  content: "\e823";
}
.icon-twitter:before {
  content: "\e824";
}
.icon-teach:before {
  content: "\e825";
}
.icon-video-player:before {
  content: "\e826";
}
.icon-calendar-1:before {
  content: "\e827";
}
.icon-calendar-2:before {
  content: "\e828";
}
.icon-chronometer:before {
  content: "\e829";
}
.icon-ok:before {
  content: "\e82a";
}
.icon-right-open:before {
  content: "\e82b";
}
.icon-left-open:before {
  content: "\e82c";
}
.icon-floppy:before {
  content: "\e82d";
}
.icon-search-1:before {
  content: "\e82e";
}
.icon-search-2:before {
  content: "\e82f";
}
.icon-eye:before {
  content: "\e83c";
}
.icon-cancel-1:before {
  content: "\e8d6";
}
.icon-clock-1:before {
  content: "\e925";
}
.icon-left-thin:before {
  content: "\e94f";
}
.icon-right-thin:before {
  content: "\e950";
}
.icon-user-2:before {
  content: "\e9bb";
}
.icon-left-small:before {
  content: "\ea58";
}
.icon-right-small:before {
  content: "\ea59";
}
.icon-down-open:before {
  content: "\f004";
}
.icon-menu:before {
  content: "\f0c9";
}
.icon-angle-double-left:before {
  content: "\f100";
}
.icon-angle-double-right:before {
  content: "\f101";
}
